USE [master]
GO
/****** Object:  Database [Ballad120]    Script Date: 15/06/2021 08:22:00 ******/
CREATE DATABASE [Ballad120]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ballad120', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Ballad120.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ballad120_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Ballad120_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ballad120].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ballad120]
GO
USE [Ballad120]
GO
/****** Object:  Table [dbo].[Song]    Script Date: 15/06/2021 08:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[songId] [int] IDENTITY(1,1) NOT NULL,
	[songName] [nvarchar](400) NULL,
	[songContect] [text] NOT NULL,
	[userId] [int] NOT NULL,
	[isPermit] [bit] NOT NULL,
 CONSTRAINT [PK__Song__0364D68D67D73698] PRIMARY KEY CLUSTERED 
(
	[songId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 15/06/2021 08:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[tagId] [int] IDENTITY(1,1) NOT NULL,
	[tagName] [nvarchar](400) NULL,
	[points] [int] NOT NULL,
	[songId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usr]    Script Date: 15/06/2021 08:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usr](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](40) NULL,
	[firstName] [nvarchar](15) NOT NULL,
	[lastName] [nvarchar](15) NOT NULL,
	[email] [nvarchar](40) NOT NULL,
	[password] [nvarchar](15) NOT NULL,
	[notingTime] [date] NULL,
	[comment] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK__Song__userId__7B5B524B] FOREIGN KEY([userId])
REFERENCES [dbo].[Usr] ([userId])
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK__Song__userId__7B5B524B]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK__Tag__songId__7E37BEF6] FOREIGN KEY([songId])
REFERENCES [dbo].[Song] ([songId])
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK__Tag__songId__7E37BEF6]
GO
USE [master]
GO
